/* Chat box */
  @import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    font-family: Montserrat, sans-serif;
}

*:focus {
    outline: none;
}

body {
    background-color: #e9bbab;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 900'%3E%3Cpath fill='%23f6ded4' d='M0 504 0 899 1600 899 1600 120z'/%3E%3Cpath fill='%23e0cbc1' d='M1600 567 1600 899 0 899 0 165z'/%3E%3Cpath fill='%23854e4b' d='M0 680 0 899 1600 899 1600 300z'/%3E%3Cpath fill='%23b06763' d='M1600 719 1600 899 0 899 0 353z'/%3E%3Cpath fill='%23482426' d='M0 788 0 899 1600 899 1600 625z'/%3E%3C/svg%3E");
    /* background by SVGBackgrounds.com */
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.chat_box {
    width: 340px;
    height: 420px;
    margin: calc(50vh - 208px) auto;
    background: #eeeeee;
    border-radius: 10px;
    box-shadow: 0 0 55px -12px #616161;
    overflow: hidden;
}

.chat_h {
    background: #fafafa;
    padding: 18px 20px;
    box-shadow: 0 1px 5px silver;
    text-align: center;
    margin-bottom: 10px;
}

.chat_h i {
    font-size: 21px;
    color: #757575;
    cursor: pointer;
}

.chat_h div {
    font-size: 16px;
    color: #854e4b;
    display: inline;
}

.chat_b {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px 22px;
}

.chat_b input[type="text"] {
    width: 230px;
    border-radius: 20px;
    border: none;
    padding: 16px 22px;
    box-shadow: 0 3px 10px -2px grey;
}

.chat_b input[type="submit"] {
    background: #b06763;
    border: none;
    color: white;
    padding: 12px 10px 12px 14px;
    font-size: 23px;
    border-radius: 100%;
    cursor: pointer;
    float: right;
    box-shadow: 0 0 30px -2px grey;
}

.chat_b input[type="submit"]:hover {
    background: #854e4b;
}

.chat {
    padding: 15px 20px;
    display: inline-block;
    clear: both;
    margin-top: 10px;
    font-size: 14px;
    word-wrap: break-word;
    max-width: 78%;
}

.chat_me {
    background: #854e4b;
    color: white;
    float: right;
    margin-right: 20px;
    border-radius: 13px 13px 0 13px;
}

.chat_ar {
    background: #f6ded4;
    color: #212121;
    float: left;
    margin-left: 20px;
    border-radius: 13px 13px 13px 0;
}

.chat_s {
    height: 270px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 0 5px #eeeeee;
    background: rgba(0, 0, 0, 0.1);
}
/*end chat*/