<div class=" col-md-6 col-sm-12">

                                                <div class="form-check">
                                                    <label>
                                                        <input type="radio" name="radio" value="agency"> <span class="label-text">Agency</span>
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <label>
                                                        <input type="radio" name="department" value="management"> <span class="label-text">Property Management</span>
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <label>
                                                        <input type="radio" name="department" value="valuation"> <span class="label-text">Valuation</span>
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <label>
                                                        <input type="radio" name="department" value="development"> <span class="label-text">Property Development</span>
                                                    </label>
                                                </div>

                                                <div class="form-check">
                                                    <label>
                                                        <input type="radio" name="department" value="survey" > <span class="label-text">Architecture and Quantity Survey</span>
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <label>
                                                        <input type="radio" name="department" value="landscaping"> <span class="label-text">Landscaping and Lawncare</span>
                                                    </label>
                                                </div>

                                            </div>
                                            <div class="col-md-6 col-sm-12">
                                                <div class="form-check">
                                                    <label>
                                                        <input type="radio" name="department" value="facilities"> <span class="label-text">Facilities Management</span>
                                                    </label>
                                                </div>
                                                 <div class="form-check">
                                                    <label>
                                                        <input type="radio" name="department" value="analysis"> <span class="label-text">Investment Analysis</span>
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <label>
                                                        <input type="radio" name="department" value="furniture"> <span class="label-text">Furniture, Fixture and Fitting</span>
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <label>
                                                        <input type="radio" name="department" value="planning"> <span class="label-text">Urban and Rural Planning</span>
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <label>
                                                        <input type="radio" name="department" value="assessment" > <span class="label-text">Environmental and Social Impact Assessment</span>
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <label>
                                                        <input type="radio" name="department" value="land-survey"> <span class="label-text">Land Survey</span>
                                                    </label>
                                                </div>
                                            </div>